.headerContainer {
    display: flex; 
    justify-content: center;
}

.headerItem {
    /*background-color:cyan;*/
    flex-direction: row;
    flex-grow: 1;
    padding: 0.2em;
}

.navbar {
    /* background-color: navy; */
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: bold;
}

.navbar_items > li {
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
}

.navbar_items a {
    color:#505050;
    cursor: pointer;
    text-decoration: none;
}

.navbar_items a:hover{
    color:#400880;
    cursor: pointer;
    text-decoration: none;
}